@{
    ViewBag.Title = "Eliminar Contacto";
}

<h2>Eliminar</h2>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <span>Esta seguro que desea eliminar el contacto de id @ViewBag.Id?</span>
            @Html.ActionLink("Borrar", "EliminarContacto", new { Id = ViewBag.Id }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Cancelar", "Index", "Home", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>