@{
    ViewBag.Title = "Eliminar Contacto";
}

<h2>Eliminar</h2>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <span>Esta seguro que desea eliminar el contacto?</span>
            <button type="button" class="btn btn-primary">Borrar</button>
            <button type="button" class="btn btn-danger">Cancelar</button>
            <!--Faltan las acciones de los botones de borrar o cancelar-->
        </div>
    </div>
</div>